# ===============================
# Terraform
# ===============================
infra/terraform/.terraform/

# ===============================
# Terraform state
# ===============================
infra/terraform/terraform.tfstate*
infra/terraform/terraform.tfstate.d/
infra/terraform/*.tfstate
infra/terraform/*.tfstate.backup

# ===============================
# Local data volumes
# ===============================
infra/terraform/data-*/

# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db

# ===============================
# Virtual Environment
# ===============================
venv/
.env/

# ===============================
# VS Code
# ===============================
.vscode/

# ===============================
# OS / Editor files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Logs
# ===============================
*.log
